## Data Preparation for Sierra Leone
This notebook focuses on preparing the wind and solar dataset for analysis.

The goal is to clean, structure, and validate the dataset so that it‚Äôs ready for exploration and visualization.

It follows the assignment requirements step by step: loading data, summary statistics, missing value report, outlier detection and flagging, data cleaning and imputation, and saving the cleaned dataset.

All steps use the reusable functions defined in ```data_preparation.py```, ensuring consistency and reproducibility across multiple datasets.

## Imports

In [1]:
import sys
import pandas as pd;

sys.path.append('../../../scripts')
from data_cleaning import (
    load_data,
    get_summary_report,
    calculate_zscore_and_flag_outliers,
    clean_and_impute,
    save_cleaned_data
)

## Load Raw Data

In [2]:
raw_file_path = "../../../data/sierra-leone/sierraleone-bumbuna.csv"
output_dir = "../../../data/sierra-leone/"
df = load_data(raw_file_path)

‚úÖ 'Timestamp' column successfully converted to datetime objects.

## Observe the Data

In [3]:
print("## üìä Head: First 5 Rows for Visual Check\n")
df.head()

## üìä Head: First 5 Rows for Visual Check

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04:00,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

In [4]:
print("## ‚ÑπÔ∏è Info: Data Types, Non-Null Counts, and Memory Usage\n")
df.info()

## ‚ÑπÔ∏è Info: Data Types, Non-Null Counts, and Memory Usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  datetime64[ns]
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: datetime64[ns](1), float64(16), int64(2)
memory usage: 76.2 MB

The raw dataset includes columns like GHI, DNI, DHI, ModA, ModB, WS, WSgust, WD, Tamb, RH, and Timestamp. Some columns may have missing values and potential outliers.

## Summary Statistics & Missing-Value Report

In [5]:
get_summary_report(df)

--- 1. Summary Statistics ---
                           Timestamp            GHI            DNI  \
count                         525600  525600.000000  525600.000000
mean   2022-04-30 12:00:30.000000768     201.957515     116.376337
min              2021-10-30 00:01:00     -19.500000      -7.800000
25%              2022-01-29 06:00:45      -2.800000      -0.300000
50%              2022-04-30 12:00:30       0.300000      -0.100000
75%              2022-07-30 18:00:15     362.400000     107.000000
max              2022-10-30 00:00:00    1499.000000     946.000000
std                              NaN     298.495150     218.652659

                 DHI           ModA           ModB           Tamb  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      113.720571     206.643095     198.114691      26.319394
min       -17.900000       0.000000       0.000000      12.300000
25%        -3.800000       0.000000       0.000000      23.100000
50%        -0.100000       3.600000       3.400000      25.300000
75%       224.700000     359.500000     345.400000      29.400000
max       892.000000    1507.000000    1473.000000      39.900000
std       158.946032     300.896893     288.889073       4.398605

                  RH             WS         WSgust        WSstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean       79.448857       1.146113       1.691606       0.363823
min         9.900000       0.000000       0.000000       0.000000
25%        68.700000       0.000000       0.000000       0.000000
50%        85.400000       0.800000       1.600000       0.400000
75%        96.700000       2.000000       2.600000       0.600000
max       100.000000      19.200000      23.900000       4.100000
std        20.520775       1.239248       1.617053       0.295000

                  WD        WDstdev             BP       Cleaning  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      133.044668       7.172220     999.876469       0.000967
min         0.000000       0.000000     993.000000       0.000000
25%         0.000000       0.000000     999.000000       0.000000
50%       161.500000       6.200000    1000.000000       0.000000
75%       234.100000      12.000000    1001.000000       0.000000
max       360.000000      98.400000    1006.000000       1.000000
std       114.284792       7.535093       2.104419       0.031074

       Precipitation          TModA          TModB  Comments
count  525600.000000  525600.000000  525600.000000       0.0
mean        0.004806      32.504263      32.593091       NaN
min         0.000000      10.700000      11.100000       NaN
25%         0.000000      23.500000      23.800000       NaN
50%         0.000000      26.600000      26.900000       NaN
75%         0.000000      40.900000      41.300000       NaN
max         2.400000      72.800000      70.400000       NaN
std         0.047556      12.434899      12.009161       NaN

--- 2. Missing Value Report ---
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

--- 3. Columns with >5% Missing Values ---
Comments    100.0
dtype: float64

We can see which columns have high missing values (>5%) and examine summary statistics for numeric columns. This identifies potential cleaning needs.

The Comments column contained 100% missing values, providing no useful information for analysis. Therefore, it was dropped to clean the dataset and simplify further processing.

In [6]:
df = df.drop(['Comments'], axis= 1).copy()
    
print("‚úÖ 'Comments' column dropped due to 100% missing values.")
print("-" * 50)
print("After Dropping 'Comments' Column:")
df.head()

‚úÖ 'Comments' column dropped due to 100% missing values.
--------------------------------------------------
After Dropping 'Comments' Column:

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
0,2021-10-30 00:01:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6
1,2021-10-30 00:02:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6
2,2021-10-30 00:03:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6
3,2021-10-30 00:04:00,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6
4,2021-10-30 00:05:00,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6

Negative solar radiation readings correspond to nighttime hours (when the sun isn‚Äôt shining). These values are physically meaningless for solar analysis, so they‚Äôre excluded to focus on daytime data only.

In [7]:
# Remove negative solar radiation values (GHI, DNI, DHI)
solar_cols = ['GHI', 'DNI', 'DHI']

# Count how many negative values exist before removal
negative_counts = (df[solar_cols] < 0).sum()
print("Negative value count before removal:\n", negative_counts)

# Remove rows where any solar column is negative
df = df[(df[solar_cols] >= 0).all(axis=1)]

# Reset index after filtering
df = df.reset_index(drop=True)

print(f"\nData shape after removing negatives: {df.shape}")

Negative value count before removal:
 GHI    261135
DNI    266352
DHI    263128
dtype: int64

Data shape after removing negatives: (238872, 18)

## Outlier Detection

In [8]:
df = calculate_zscore_and_flag_outliers(df)

outlier_rows = df[df['Outliers_Flag'] == True]
print("Count of rows with outlier values - ", df['Outliers_Flag'].sum())
print(outlier_rows.head(5))

üîπ Calculating Z-scores and flagging outliers for the following columns:
   ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']
‚úÖ Outliers flagged in 1760 rows.
Count of rows with outlier values -  1760
               Timestamp   GHI  DNI   DHI  ModA  ModB  Tamb    RH   WS  \
1265 2021-10-31 17:36:00  35.2  3.6  34.3  35.1  33.1  31.2  66.8  7.5
1266 2021-10-31 17:37:00  28.9  0.3  29.0  30.8  29.0  30.9  66.7  6.2
1267 2021-10-31 17:38:00  26.0  0.2  26.2  29.3  27.8  30.6  63.6  5.2
1268 2021-10-31 17:39:00  24.6  0.2  24.8  28.9  27.4  30.2  63.6  5.3
1269 2021-10-31 17:40:00  23.9  0.2  24.3  29.4  28.0  29.9  64.5  5.3

      WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  \
1265     9.7      1.3  138.2     27.2  999         0            0.0   37.6
1266     7.9      0.9  111.9     15.5  999         0            0.0   36.4
1267     7.2      1.0   99.4     20.3  999         0            0.0   35.1
1268     7.4      1.3  101.5     18.6  999         0            0.0   34.1
1269     7.7      1.1   89.3     13.4  999         0            0.0   33.3

      TModB  Outliers_Flag
1265   39.0           True
1266   37.4           True
1267   35.9           True
1268   34.6           True
1269   33.6           True

## Cleaning & Imputation

In [9]:
columns_to_impute = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'WS', 'WSgust', 'RH']
df_cleaned = clean_and_impute(df, columns_to_impute)

cleaned_file_path = output_dir + "sierra_leone_clean.csv"
save_cleaned_data(df_cleaned, cleaned_file_path)

üîπ Replacing outliers with median for the following columns:
   ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'WS', 'WSgust', 'RH']
üîπ Imputing remaining missing values with median for key columns.
‚úÖ Outliers replaced and missing values imputed.

‚úÖ Cleaned Data Saved successfully to: ../../../data/sierra-leone/sierra_leone_clean.csv