## Data Preparation for Benin
This notebook focuses on preparing the wind and solar dataset for analysis.

The goal is to clean, structure, and validate the dataset so that it‚Äôs ready for exploration and visualization.

It follows the assignment requirements step by step: loading data, summary statistics, missing value report, outlier detection and flagging, data cleaning and imputation, and saving the cleaned dataset.

All steps use the reusable functions defined in ```data_preparation.py```, ensuring consistency and reproducibility across multiple datasets.

## Imports

In [1]:
import sys
import pandas as pd;

sys.path.append('../../../scripts')
from data_preparation import (
    load_data,
    get_summary_report,
    calculate_zscore_and_flag_outliers,
    clean_and_impute,
    save_cleaned_data
)

## Load Raw Data

In [3]:
raw_file_path = "../../../data/benin/benin-malanville.csv"
output_dir = "../../../data/benin/"
df = load_data(raw_file_path)

## Observe the Data

In [4]:
print("## üìä Head: First 5 Rows for Visual Check\n")
df.head()

## üìä Head: First 5 Rows for Visual Check

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [5]:
print("## ‚ÑπÔ∏è Info: Data Types, Non-Null Counts, and Memory Usage\n")
df.info()

## ‚ÑπÔ∏è Info: Data Types, Non-Null Counts, and Memory Usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

The raw dataset includes columns like GHI, DNI, DHI, ModA, ModB, WS, WSgust, WD, Tamb, RH, and Timestamp. Some columns may have missing values and potential outliers.

In the previous step, the Timestamp column has a data type of Object. Let's change it to the appropriate data type.

In [6]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
print("Data Type for Timestamp -",df['Timestamp'].dtypes)

Data Type for Timestamp - datetime64[ns]

## Summary Statistics & Missing-Value Report

In [7]:
get_summary_report(df)

--- 1. Summary Statistics ---
                           Timestamp            GHI            DNI  \
count                         525600  525600.000000  525600.000000
mean   2022-02-07 12:00:30.000000512     240.559452     167.187516
min              2021-08-09 00:01:00     -12.900000      -7.800000
25%              2021-11-08 06:00:45      -2.000000      -0.500000
50%              2022-02-07 12:00:30       1.800000      -0.100000
75%              2022-05-09 18:00:15     483.400000     314.200000
max              2022-08-09 00:00:00    1413.000000     952.300000
std                              NaN     331.131327     261.710501

                 DHI           ModA           ModB           Tamb  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      115.358961     236.589496     228.883576      28.179683
min       -12.600000       0.000000       0.000000      11.000000
25%        -2.100000       0.000000       0.000000      24.200000
50%         1.600000       4.500000       4.300000      28.000000
75%       216.300000     463.700000     447.900000      32.300000
max       759.200000    1342.300000    1342.300000      43.800000
std       158.691074     326.894859     316.536515       5.924297

                  RH             WS         WSgust        WSstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean       54.487969       2.121113       2.809195       0.473390
min         2.100000       0.000000       0.000000       0.000000
25%        28.800000       1.000000       1.300000       0.400000
50%        55.100000       1.900000       2.600000       0.500000
75%        80.100000       3.100000       4.100000       0.600000
max       100.000000      19.500000      26.600000       4.200000
std        28.073069       1.603466       2.029120       0.273395

                  WD        WDstdev             BP       Cleaning  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      153.435172       8.582407     994.197199       0.000923
min         0.000000       0.000000     985.000000       0.000000
25%        59.000000       3.700000     993.000000       0.000000
50%       181.000000       8.600000     994.000000       0.000000
75%       235.100000      12.300000     996.000000       0.000000
max       360.000000      99.400000    1003.000000       1.000000
std       102.332842       6.385864       2.474993       0.030363

       Precipitation          TModA          TModB  Comments
count  525600.000000  525600.000000  525600.000000       0.0
mean        0.001905      35.246026      32.471736       NaN
min         0.000000       9.000000       8.100000       NaN
25%         0.000000      24.200000      23.600000       NaN
50%         0.000000      30.000000      28.900000       NaN
75%         0.000000      46.900000      41.500000       NaN
max         2.500000      81.000000      72.500000       NaN
std         0.037115      14.807258      12.348743       NaN

--- 2. Missing Value Report ---
Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

--- 3. Columns with >5% Missing Values ---
Comments    100.0
dtype: float64

We can see which columns have high missing values (>5%) and examine summary statistics for numeric columns. This identifies potential cleaning needs.

The Comments column contained 100% missing values, providing no useful information for analysis. Therefore, it was dropped to clean the dataset and simplify further processing.

In [8]:
df = df.drop(['Comments'], axis= 1).copy()
    
print("‚úÖ 'Comments' column dropped due to 100% missing values.")

print("After Dropping 'Comments' Column:")
df.head()

‚úÖ 'Comments' column dropped due to 100% missing values.
After Dropping 'Comments' Column:

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
0,2021-08-09 00:01:00,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2
1,2021-08-09 00:02:00,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2
2,2021-08-09 00:03:00,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2
3,2021-08-09 00:04:00,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3
4,2021-08-09 00:05:00,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3

## Outlier Detection

In [9]:
df = calculate_zscore_and_flag_outliers(df)

outlier_rows = df[df['Outliers_Flag'] == True]
print("Count of rows with outlier values - ", df['Outliers_Flag'].sum())
print(outlier_rows.head(5))

Count of rows with outlier values -  7740
              Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH  \
670 2021-08-09 11:11:00   836.0  235.0  610.6   778.8   783.8  30.3  68.2
671 2021-08-09 11:12:00  1274.0  698.8  615.2  1210.3  1210.3  30.1  69.6
672 2021-08-09 11:13:00   938.0  340.1  612.8   891.1   891.1  30.4  68.4
673 2021-08-09 11:14:00   718.5  126.8  593.2   682.6   682.6  30.6  68.2
674 2021-08-09 11:15:00  1349.0  771.8  618.0  1281.5  1281.5  30.9  67.1

      WS  WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  \
670  3.2     4.1      0.7  190.5     18.4  999         0            0.0
671  3.4     4.1      0.6  175.8     13.3  999         0            0.0
672  3.4     4.6      0.9  171.5     11.9  999         0            0.0
673  4.7     5.6      0.6  160.7      8.0  999         0            0.0
674  4.0     4.6      0.4  169.1     12.3  999         0            0.0

     TModA  TModB  Outliers_Flag
670   63.0   52.7           True
671   63.7   53.1           True
672   65.8   54.3           True
673   65.4   54.2           True
674   65.0   53.5           True

## Cleaning & Imputation

In [10]:
impute_cols = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']
df_cleaned = clean_and_impute(df, impute_cols)
df_cleaned = df_cleaned.drop(['Outliers_Flag'], axis= 1).copy()

df_cleaned.head()

cleaned_file_path = output_dir + "benin_cleaned.csv"
save_cleaned_data(df_cleaned, cleaned_file_path)

‚úÖ Cleaned Data Saved successfully to: ../../../data/benin/benin_cleaned.csv